

/* Main */

main{
    display: flex;
    height: 100%;
}

#main_left{
    width: 55%;
    height: 100%;
    background-image: url(../imgs/reg_log_pic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}   


#main_rigth{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main_form{
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 100%;
    margin-top: 15%;
}

#main_form label{
    padding: 0.3rem 0.6rem;

}

.inputs{
    border-radius: 20px;
    border: 1px solid #06BED6;
    background-color: #F2F2F2;
    width: 100%;
    height: 7%;
    padding-left: 0.7rem;
}

#submit{
    border-radius: 20px;
    border: none;
    background-color: #06BED6;
    color: white;
    width: 100%;
    height: 10%;
    cursor: pointer;
}


#main_form p2{
    padding-top: 0.5rem;
    align-self: center;
}


#main_form input{
    margin-bottom: 2rem;
}


/* Main -- */